<form class="px-0" [formGroup]="missionForm" (ngSubmit)="onFormSubmit(missionForm)">
    <input type="hidden" name="missionId" formControlName="missionId" />
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="">Aircraft</label>
            <input disabled class="form-control form-control-lg" placeholder="PT-6" name="missionAircraft"
                missionAircraft="ngModel" value="PT-6">
        </div>
        <div class="form-group col-md-6">
            <label for="">Syllabus</label>
            <input disabled class="form-control form-control-lg" placeholder="Basic Conversion" name="syllabus"
                missionAircraft="ngModel" value="Basic Conversion">
        </div>
    </div>
    <div class="form-group">
        <label for="">Mission Name</label>
        <input class="form-control form-control-lg" formControlName="missionName">


        <p *ngIf="missionForm.get('missionName')?.touched &&missionForm.get('missionName')?.hasError('required')"
            class="text-danger">
            Mission Name is A Required Field
        </p>

    </div>
    <div class="form-group mb-0">
        <label for="">Duration</label>

    </div>

    <div class="form-group">
        <label for="">Mission Duration</label>
        <input class="form-control form-control-lg" formControlName="missionDuration" placeholder="hh:mm">
    </div>


    <div class="form-group">
        <button type="submit" class="btn btn-success btn-block btn-lg" [disabled]="missionForm.invalid">ADD</button>
    </div>

</form>


<p>{{missionForm.value | json}}</p>