<p>add-mission works!</p>


<form class="col-md-6">
    <input type="hidden" name="missionId" [value]="service.formData.missionId" />
    <div class="form-group row col-md-6">
        <label for="">Mission Name</label>
        <input class="form-control form-control-lg" placeholder="Name of Mission" name="missionName"
            missionName="ngModel" [(ngModel)]="service.formData.missionName">
    </div>
    <div class="form-group row col-md-6 mb-0">
        <label for="">Duration</label>

    </div>
    <div class="row">
        <div class="form-group col-md-6">
            <label for="">Hour</label>
            <input type="number" class="form-control form-control-lg" placeholder="Hour" name="missionAircraft"
                missionAircraft="ngModel" [(ngModel)]="service.formData.missionDuration.hour">
        </div>
        <div class="form-group col-md-6">
            <label for="">Minutes</label>
            <input type="number" class="form-control form-control-lg" placeholder="Mins" name="missionAircraft"
                missionAircraft="ngModel" [(ngModel)]="service.formData.missionDuration.minute">
        </div>
    </div>
    <!-- <div class="form-group">
        <label for="">Aircraft</label>
        <input class="form-control form-control-lg" placeholder="Aircraft" name="missionAircraft"
            missionAircraft="ngModel" [(ngModel)]="service.formData.missionAircraft">
    </div> -->

    <!-- <div class="form-group">
        <label for=""></label>
        <input class="form-control form-control-lg" placeholder="Name of Mission" name="syllabus" syllabus="ngModel"
            [(ngModel)]="service.formData.syllabus">
    </div> -->
</form>